{% extends "base.html" %}
{% block content %}
    <article>
        <h2>Sign Up</h2>
        <form method="POST" class="space-y-3 font-semibold">
            {{ form.hidden_tag() }}
            {{ form.username() }}
            {{ form.email() }}
            {{ form.password() }}
            {{ form.confirm_password() }}
            {{ form.submit() }}
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5 style="text-align: center;">{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </article>
{% endblock %}